/* PC */
@media (min-width: 992px) {
  /* 1. Ẩn nav_img */
  .banner img {
    display: none;
  }

  /* 2. Ẩn menu_icon */
  .menu-header__icon {
    display: none;
  }

  /* 3. Ẩn menu mobile_header */
  .mobile-header {
    display: none;
  }
}

@media (max-width: 991.98px) {
  /* 1. Ẩn nav */
  .first-content {
    display: none;
  }
  .banner img {
    height: 44px;
    width: 100%;
    position: relative;
  }
  /* 2. Căn chỉnh menu icon */
  .menu-header__icon {
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 2;
    font-size: 2.8rem;
  }
  /* 3. Overlay */
  .menu-overlay {
    position: fixed;
    background: #00000030;
    inset: 0;
    z-index: 2;
    /* bình thường thì ẩn overlay đi */
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }
  /* 4. Kiểm tra checkbox */
  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
  /* 5. Code cho menu */
  .menu-drawer {
    position: fixed;
    background-color: var(--menu-color);
    inset: 0 40% 0 0;
    z-index: 2;
    transform: translateX(-100%);
    transition: 0.5s;
    padding: 60px;
    font-size: 2rem;
  }
  /* 6. kiểm tra menu checked */
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }

  /* top menu */
  .menu-drawer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu__logo {
    height: 44px;
  }

  .menu__close {
    width: 24px;
    color: #fff;
  }

  #navbar__list--mobile {
    margin-top: 25px;
  }

  .navbar__link {
    display: block;
  }

  .first-content__item:hover {
    background-color: #77c2f830;
  }

  /* second-content */
  .second-content__logo {
    display: none;
  }

  .second-content__contact-cart {
    display: none;
  }

  .second-content__body,
  .second-content,
  .second-content__navbar {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
  .second-content__search {
    width: 80%;
    padding: 0 10%;
  }
}

/* Mobile */
@media (max-width: 767.98px) {
  .second-content__search {
    width: 50%;
    min-width: 350px;
    padding: 0 10%;
  }
}
