/* PC */
@media (min-width: 1170px) {
  /* 1. Ẩn nav_img */
  .banner img {
    display: none;
  }

  /* 2. Ẩn menu_icon */
  .menu-header__icon {
    display: none;
  }
}

@media (max-width: 1169.98px) {
  /* 1. Ẩn nav */
  .first-content {
    display: none;
  }
  .banner img {
    height: 44px;
    width: clamp(375px, 100%, 1170px);
    position: relative;
  }
  /* 2. Căn chỉnh menu icon */
  .menu-header__icon {
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 2;
    font-size: 2.8rem;
  }
  /* 3. Overlay */
  .menu-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    inset: 0;
    z-index: 2;
    /* bình thường thì ẩn overlay đi */
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }
  /* 5. Kiểm tra checkbox */
  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1169.98px) {
}

/* Mobile */
@media (max-width: 767.98px) {
}
