// Global Variables
$primary-color: #a0c7ff;
$second-color: #b9fcf9;
$color-black: #171100;
$color-gray: #5f5b53;
$color-bgr: #fffcf4;
$color-yellow: #ffb900;
$color-brown: #2e2100;
$color-sale: #ff9900;
$color-hot: #e60000;
$menu-color: #cae2ff;
