/* PC */
@media (min-width: 992px) {
  /* 1. Ẩn nav_img */
  .banner img {
    display: none;
  }

  /* 2. Ẩn menu_icon */
  .menu-header__icon {
    display: none;
  }

  /* 3. Ẩn menu mobile_header */
  .mobile-header {
    display: none;
  }

  .carousel-controls {
    z-index: 1;
  }
}

@media (max-width: 991.98px) {
  /* 1. Ẩn nav */
  .first-content {
    display: none;
  }
  .banner img {
    height: 44px;
    width: 100%;
    position: relative;
  }
  /* 2. Căn chỉnh menu icon */
  .menu-header__icon {
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 2;
    font-size: 2.8rem;
  }
  /* 3. Overlay */
  .menu-overlay {
    position: fixed;
    background: #00000030;
    inset: 0;
    z-index: 3;
    /* bình thường thì ẩn overlay đi */
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }
  /* 4. Kiểm tra checkbox */
  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
  /* 5. Code cho menu */
  .menu-drawer {
    position: fixed;
    background-color: var(--menu-color);
    inset: 0 40% 0 0;
    min-width: 350px;
    z-index: 4;
    transform: translateX(-100%);
    transition: 0.5s;
    padding: 60px;
    font-size: 2rem;
  }
  /* 6. kiểm tra menu checked */
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }

  /* top menu */
  .menu-drawer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu__logo {
    height: 44px;
  }

  .menu__close {
    width: 24px;
    color: #fff;
  }

  #navbar__list--mobile {
    margin-top: 25px;
  }

  .navbar__link {
    display: block;
  }

  .first-content__item:hover {
    background-color: #77c2f830;
  }

  /* second-content */
  .second-content__logo {
    display: none;
  }

  .second-content__contact-cart {
    display: none;
  }

  .second-content__body,
  .second-content,
  .second-content__navbar {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  /* 7. .flash-sales */
  .flash-sales .body .lr-item {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    height: 400px;
  }

  /* 8 .brands__content */
  .brands__content {
    display: flex;
    flex-direction: column;
  }

  .brands__content {
    overflow: hidden;
  }

  /* 9 .footer */
  .footer .row .column {
    width: 45%; /* Giảm kích thước cột khi màn hình nhỏ hơn */
  }

  .footer .row .column:first-child {
    width: 100%; /* Cột đầu tiên chiếm toàn bộ chiều ngang */
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
  .second-content__search {
    width: 100%;
    padding: 0 10%;
  }

  /* 2 .hero */
  .prev-slide {
    height: 300px;
  }

  .next-slide {
    height: 300px;
  }

  ul.slides {
    height: 300px;
  }

  .slide-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }

  .carousel-controls {
    font-size: 60px;
  }

  /* 3 .ads */
  .main .ads {
    margin-top: 10px;
  }

  /* 6 .corevalue */
  .corevalue .item .icon {
    height: 50px;
    width: 50px;
    font-size: 35px;
    padding: 5px;
  }

  .corevalue .item .text {
    text-align: left;
    padding-top: 10px;
    margin-left: 10px;
  }

  /* 7. .footer */
  .footer {
    padding: 60px 0;
  }

  .footer h1 {
    font-size: 1.6rem;
  }

  .footer .title {
    font-size: 1.4rem;
  }

  .footer .desc {
    font-size: 1.2rem;
  }

  .flash-sales__content {
    padding-bottom: 30px;
  }
}

/* Mobile */
@media (max-width: 767.98px) {
  .second-content__search-button {
    width: 40%;
  }

  .second-content__search {
    width: 100%;
    height: 30px;
    min-width: 350px;
    padding: 0 10%;
  }

  /* 2 .hero */
  .prev-slide {
    height: 200px;
  }

  .next-slide {
    height: 200px;
  }

  .slide-container {
    margin-top: 0;
  }

  ul.slides {
    height: 200px;
  }

  .slide-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .carousel-controls {
    font-size: 40px;
  }

  .carousel-dots .carousel-dot {
    width: 10px;
    height: 10px;
  }

  /* 3 .ads */
  .main .ads {
    margin-top: 5px;
  }

  .ads img {
    border-radius: 7px;
  }

  /* 5 .quick__advertise */
  .scroll-button.left {
    left: 5px;
  }

  .scroll-button.right {
    right: 5px;
  }

  .quick-sales .item {
    width: 150px;
    height: 80px;
  }

  .quick-sales .item img {
    height: 80px;
  }

  /* 6. .flash-sales */
  .flash-sales .top .timer strong {
    color: #fff;
    background-color: #000;
    margin: 2px;
    padding: 5px;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flash-sales .top h3 {
    font-size: 1.6rem;
    color: #fc521d;
  }

  /* 7 .list-item */
  .list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
  }

  /* 8 .corevalue */
  .corevalue {
    display: flex;
    justify-content: center;
    padding: 0 5px;
  }

  .corevalue .item .icon {
    height: 20px;
    width: 20px;
    font-size: 15px;
  }

  .corevalue .item .text {
    text-align: left;
    padding-top: 10px;
    margin-left: 10px;
  }

  .main-contain .row {
    display: flex;
    flex-direction: column;
  }

  /* 9 .footer */
  .footer .row .column {
    width: 100%;
    text-align: center;
  }

  .footer .row .column .line {
    display: none;
  }

  .footer .row .column:first-child {
    width: 100%;
  }

  .footer .desc-h1 {
    padding-right: 0;
  }

  .flash-sales__content {
    padding-bottom: 20px;
  }
}
