:root {
  --primary-color: #a0c7ff;
  --second-color: #b9fcf9;
  --color-black: #171100;
  --color-gray: #5f5b53;
  --color-bgr: #fffcf4;
  --color-yellow: #ffb900;
  --color-brown: #2e2100;
  --menu-color: #cae2ff;
  --color-sale: #ff9900;
  --color-hot: #e60000;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

html body {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
}

/* ==============Common=============== */
a {
  text-decoration: none;
}

.header {
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: #fff;
}

.logo:hover {
  transform: scale(1.05);
}

.nav {
  width: 1170px;
  min-width: 1170px;
  margin: 0 auto;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

/* ===============Header-Nav================ */
.navbar__link {
  color: #ffffff;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.header .first-content {
  padding-top: 10px;
  background-color: var(--primary-color);
}

.first-content__nav {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
}

.first-content__list {
  display: flex;
  gap: 15px;
}

.first-content__item .first-content__link {
  position: relative;
  color: #fff;
  font-weight: 600;
  padding: 0 20px;
  text-decoration: none;
}

.first-content__item--active .first-content__link,
.first-content__link:hover {
  text-shadow: 0.8px 0 0 currentColor;
  text-decoration: none;
}

.first-content__item--active .first-content__link::after {
  position: absolute;
  display: block;
  content: "";
  width: 1.2rem;
  height: 0.2rem;
  border-radius: 1px;
  background: currentColor;
  left: 44px;
}

/* ===============Header-NavBar================ */
.second-content__navbar img {
  height: 40px;
  object-fit: cover;
}

.second-content__navbar {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.second-content {
  margin-top: 0;
  background-color: white;
}

.second-content__search {
  width: 400px;
  display: flex;
}

.second-content__search-input {
  width: 70%;
  padding: 5px 10px;
  border-radius: 20px 0 0 20px;
}

.second-content__search-button {
  width: 30%;
  padding: 0;
  border-radius: 0 20px 20px 0;
  transform: translateX(-1px);
}

.second-content__contact-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.second-content__contact-cart a {
  margin: 0px 20px;
  font-weight: 600;
  color: #555;
}

.second-content__contact-cart i {
  padding: 5px 0;
  border-radius: 50%;
}

.second-content__contact-cart a:hover {
  text-shadow: 1px 0 0 currentColor;
  text-decoration: none;
}

.second-content__logo:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* ===============Hero================ */
.main .hero {
  margin-top: calc(44px + 60px);
  width: 100%;
}

ul.slides {
  display: block;
  position: relative;
  height: 50vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

ul.slides input {
  display: none;
}

.slide-container {
  display: block;
}

.slide-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}

.slide-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.carousel-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 80px;
  line-height: 50vh;
  z-index: 0;
  color: #fff;
}

.carousel-controls label {
  display: none;
  position: absolute;
  padding: 0 20px;
  opacity: 0;
  transition: opacity 0.2s;
  cursor: pointer;
}

.slide-container:hover .carousel-controls label {
  opacity: 0.5;
}

.carousel-controls label:hover {
  opacity: 1;
}

.carousel-controls .prev-slide {
  width: 49%;
  text-align: left;
  left: 0;
}

.carousel-controls .next-slide {
  width: 49%;
  text-align: right;
  right: 0;
}

.carousel-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 0;
  text-align: center;
}

.carousel-dots .carousel-dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
  margin: 10px;
  transition: opacity 0.3s ease-in-out;
}

.carousel-dot:hover {
  opacity: 0.8;
}

input:checked + .slide-container .slide-image {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
  display: block;
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3 {
  opacity: 1;
}

/* ===============ADS================ */
.main .ads {
  margin-top: 20px;
}

.ads img {
  border-radius: 12px;
}

/* ===============Quick-Advertise================ */
.quick__advertise {
  position: relative;
  padding: 20px 0;
}

.quick-sales-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.quick__advertise .quick-sales {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.quick__advertise .quick-sales::-webkit-scrollbar {
  display: none;
}

.quick-sales .item {
  flex: 0 0 auto;
  width: 300px;
  height: 140px;
  border-radius: 12px;
}

.quick-sales .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.scroll-button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
  transition: background-color 0.3s;
}

.scroll-button.left {
  left: -20px;
}

.scroll-button.right {
  right: -20px;
}

.scroll-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.quick-sales.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

/* ===============Flash-sale================ */
.flash-sales .top {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  align-items: center;
}

.flash-sales__content {
  background-color: #fed8bf;
  border-radius: 16px;
}

.flash-sales .container {
  margin-top: 20px;
  height: 500px;
}

.flash-sales .body .lr-item {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 450px;
}

.flash-sales .top h3 {
  font-size: 2.8rem;
  color: #fc521d;
}

.flash-sales .top .timer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flash-sales .top .timer strong {
  color: #fff;
  background-color: #000;
  margin: 2px;
  padding: 10px;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flash-sales .body {
  position: relative;
}

.scroll-left {
  left: -20px;
}

.scroll-right {
  right: -20px;
}

/* ===============Brands-content================ */
.brands__content {
  margin-top: 50px;
}

.brands__content .list-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brands__content .list-brand img {
  width: 98px;
  height: 20px;
  object-fit: cover;
}

.brands__content .list-brand .item {
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  height: 34px;
  margin: 10px;
  padding: 2px 4px;
}

.brands__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brands__content p {
  font-size: 2.8rem;
  color: #fc521d;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 600;
}

/* list-item */
.list-item {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
}
.flash-sales .item,
.list-item .item {
  position: relative;
  width: 210px;
  height: 380px;
  border-radius: 16px;
  padding: 20px 0 0 0;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
  margin: 20px;
}

.flash-sales .item img,
.list-item .item img {
  height: 207px;
  width: 210px;
  object-fit: cover;
}

.flash-sales .item .icon,
.list-item .item .icon {
  position: absolute;
  width: 210px;
  display: flex;
  justify-content: space-between;
  top: 0;
}

.item .icon .sticker {
  width: 60px;
  height: 30px;
  border-radius: 14px;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item .icon .hot {
  background: var(--color-hot);
}

.item .icon .sale {
  background: var(--color-sale);
}

.item .detail .rating img {
  height: 16px;
  width: 16px;
  margin: 0 5px;
}

.item .detail .rating {
  display: flex;
  align-items: center;
  color: var(--color-yellow);
  justify-content: center;
}

.item .price {
  text-align: center;
  color: #000;
}

.item .title {
  font-weight: bold;
  text-align: center;
  margin-top: 16px;
  color: #000;
}

.price .origin-price {
  text-decoration: line-through;
  font-weight: 400;
}

.price .sale-price {
  font-style: italic;
  text-decoration: underline;
  font-weight: 600;
  color: #f00;
}

a:hover {
  text-decoration: none;
}

/* corevalue */
.corevalue {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.corevalue .item {
  display: flex;
  align-items: center;
}

.corevalue .item .icon {
  height: 80px;
  width: 80px;
  font-size: 60px;
  padding: 10px;
}

.corevalue .item .text {
  text-align: left;
  padding-top: 20px;
  margin-left: 20px;
}

.corevalue .item .text span {
  display: block;
  font-size: 1.3rem;
}

/* ================Footer=============== */
.footer {
  background: var(--primary-color);
  padding: 96px 0;
  margin-top: 40px;
}

.footer img {
  height: 40px;
}

.footer .row {
  display: flex;
  flex-wrap: wrap; /* Cho phép các cột tự xuống dòng khi màn hình nhỏ */
}

.footer .row .column {
  width: 21%;
  padding: 10px;
}

.footer .row .column:first-child {
  width: 37%;
}

.footer .desc {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 26px;
  color: #000;
}

.footer .title {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 28px;
  color: #fff;
}

.footer h1 {
  font-family: sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 28px;
  color: #fff;
  margin-bottom: 20px;
}

.footer .column .fa-brands {
  color: #fff;
  padding: 10px;
}

.footer .column .line {
  border: 1px solid #000;
  width: 130px;
  height: 1px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.footer .line {
  border: 1px solid #000;
  width: 100%;
  height: 1px;
  margin: 30px 0;
}

.column .contact {
  margin-top: 10px;
}

.desc-foot {
  text-align: center;
  color: #000;
  margin-top: 10px;
}

.footer .desc-h1 {
  padding-right: 20px;
}
