/* ==============Common=============== */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

html body {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

.header {
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: #fff;
}

.logo:hover {
  transform: scale(1.05);
}

.nav {
  width: 1170px;
  min-width: 1170px;
  margin: 0 auto;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

/* ===============Header-Nav================ */
.navbar__link {
  color: #ffffff;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.header .first-content {
  padding-top: 10px;
  background-color: #a0c7ff;
}
.header .first-content .first-content__nav {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
}
.header .first-content .first-content__nav .first-content__list {
  display: flex;
  gap: 15px;
}
.header .first-content .first-content__nav .first-content__list .first-content__item .first-content__link {
  position: relative;
  color: #fff;
  font-weight: 600;
  padding: 0 20px;
  text-decoration: none;
}
.header .first-content .first-content__nav .first-content__list .first-content__item .first-content__link:hover, .header .first-content .first-content__nav .first-content__list .first-content__item .first-content__link.first-content__item--active {
  text-shadow: 0.8px 0 0 currentColor;
  text-decoration: none;
}
.header .first-content .first-content__nav .first-content__list .first-content__item .first-content__link.first-content__item--active::after {
  position: absolute;
  display: block;
  content: "";
  width: 1.2rem;
  height: 0.2rem;
  border-radius: 1px;
  background: currentColor;
  left: 44px;
}

/* ===============Header-NavBar================ */
.second-content {
  margin-top: 0;
  background-color: white;
}
.second-content .second-content__navbar {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.second-content .second-content__navbar img {
  height: 40px;
  object-fit: cover;
}
.second-content .second-content__search {
  width: 400px;
  display: flex;
}
.second-content .second-content__search .second-content__search-input {
  width: 70%;
  padding: 5px 10px;
  border-radius: 20px 0 0 20px;
}
.second-content .second-content__search .second-content__search-button {
  width: 30%;
  padding: 0;
  border-radius: 0 20px 20px 0;
  transform: translateX(-1px);
}
.second-content .second-content__contact-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.second-content .second-content__contact-cart a {
  margin: 0px 20px;
  font-weight: 600;
  color: #5f5b53;
}
.second-content .second-content__contact-cart a:hover {
  text-shadow: 1px 0 0 currentColor;
  text-decoration: none;
}
.second-content .second-content__contact-cart i {
  padding: 5px 0;
  border-radius: 50%;
}
.second-content .second-content__logo:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* ===============Hero================ */
.main .hero {
  margin-top: 104px;
  width: 100%;
}
.main #carouselExampleIndicators .carousel-inner .carousel-item img {
  border-radius: 12px;
}
.main #carouselExampleIndicators .carousel-control-prev-icon,
.main #carouselExampleIndicators .carousel-control-next-icon {
  border-radius: 10px;
}
.main .carousel-item img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}
@media (max-width: 991.98px) {
  .main .carousel-item img {
    height: 400px;
  }
}
@media (max-width: 767.98px) {
  .main .carousel-item img {
    height: 200px;
  }
}

/* ===============ADS================ */
.main .ads {
  margin-top: 20px;
}
.main .ads img {
  border-radius: 12px;
}

/* ===============Quick-Advertise================ */
.quick__advertise {
  position: relative;
  padding: 20px 0;
}
.quick__advertise .quick-sales-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}
.quick__advertise .quick-sales-wrapper .quick-sales {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.quick__advertise .quick-sales-wrapper .quick-sales::-webkit-scrollbar {
  display: none;
}
.quick__advertise .quick-sales-wrapper .quick-sales .card {
  flex: 0 0 auto;
  width: 300px;
  height: 140px;
  border-radius: 12px;
}
.quick__advertise .quick-sales-wrapper .quick-sales .card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 12px;
}
.quick__advertise .quick-sales-wrapper .scroll-button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
  transition: background-color 0.3s ease;
}
.quick__advertise .quick-sales-wrapper .scroll-button.left {
  left: -20px;
}
.quick__advertise .quick-sales-wrapper .scroll-button.right {
  right: -20px;
}
.quick__advertise .quick-sales-wrapper .scroll-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.quick__advertise.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

/* _item.scss */
.item, .list-item .flash-sales .item,
.list-item .list-item .item {
  position: relative;
  width: 210px;
  height: 380px;
  border-radius: 16px;
  padding: 20px 0 0 0;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
  margin: 20px;
  transition: all 0.3s ease;
}
.item:hover, .list-item .flash-sales .item:hover,
.list-item .list-item .item:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.3) 0 6px 12px, rgba(0, 0, 0, 0.4) 0 6px 12px;
}
.item img, .list-item .flash-sales .item img,
.list-item .list-item .item img {
  height: 207px;
  width: 210px;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.item .icon, .list-item .flash-sales .item .icon,
.list-item .list-item .item .icon {
  position: absolute;
  width: 210px;
  display: flex;
  justify-content: space-between;
  top: 0;
}
.item .icon .sticker {
  width: 60px;
  height: 30px;
  border-radius: 14px;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}
.item .icon .hot {
  background: #e60000;
}
.item .icon .sale {
  background: #ff9900;
}
.item .detail .rating {
  display: flex;
  align-items: center;
  color: #ffb900;
  justify-content: center;
}
.item .detail .rating img {
  height: 16px;
  width: 16px;
  margin: 0 5px;
}
.item .detail .price {
  text-align: center;
  color: #000;
}
.item .detail .price .origin-price {
  text-decoration: line-through;
  font-weight: 400;
}
.item .detail .price .sale-price {
  font-style: italic;
  text-decoration: underline;
  font-weight: 600;
  color: #e60000;
}
.item .detail .title {
  font-weight: bold;
  text-align: center;
  margin-top: 16px;
  color: #000;
  transition: color 0.3s ease;
}
.item .detail .title:hover {
  color: #e60000;
}

/* ===============Flash-sale================ */
.flash-sales {
  position: relative;
}
.flash-sales .top {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  align-items: center;
}
.flash-sales .top h3 {
  font-size: 2.8rem;
  color: #fc521d;
}
.flash-sales .top .timer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flash-sales .top .timer strong {
  color: #fff;
  background-color: #000;
  margin: 2px;
  padding: 10px;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flash-sales__content {
  background-color: #fed8bf;
  border-radius: 16px;
}
.flash-sales .container {
  margin-top: 20px;
  height: 500px;
}
.flash-sales .body {
  position: relative;
}
.flash-sales .body .lr-item {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 450px;
}
.flash-sales .scroll-button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
  transition: background-color 0.3s ease;
}
.flash-sales .scroll-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.flash-sales .scroll-button.left {
  left: -20px;
}
.flash-sales .scroll-button.right {
  right: -20px;
}
.flash-sales .scroll-button i {
  font-size: 20px;
}
.flash-sales .scroll-left {
  left: -20px;
}
.flash-sales .scroll-right {
  right: -20px;
}

/* ===============Brands-content================ */
.brands__content {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brands__content .list-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}
.brands__content .list-brand .card {
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  height: 34px;
  margin: 10px;
  padding: 2px 4px;
}
.brands__content .list-brand .card img {
  width: 98px;
  height: 20px;
  object-fit: cover;
}
.brands__content p {
  font-size: 2.8rem;
  color: #fc521d;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 600;
}

/* list-item */
.list-item {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
}
/* ================Core Value================ */
.corevalue {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
}
.corevalue .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  border: none;
  padding: 20px;
  text-align: center;
  margin: 10px;
  transition: all 0.3s ease;
}
.corevalue .card:hover {
  transform: translateY(-5px);
}
.corevalue .card .icon {
  font-size: 60px;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}
.corevalue .card .icon:hover {
  transform: scale(1.1);
}
.corevalue .card .text span {
  display: block;
  font-size: 1rem;
  color: #333;
}
.corevalue .card .text strong {
  padding-left: 5px;
  font-size: 1.6rem;
  color: #fc521d;
  font-weight: bold;
}

/* ================Footer=============== */
.footer {
  background: #a0c7ff;
  padding: 96px 0;
  margin-top: 40px;
}
.footer img {
  height: 40px;
}
.footer .row {
  display: flex;
  flex-wrap: wrap;
}
.footer .row .column {
  width: 21%;
  padding: 10px;
}
.footer .row .column:first-child {
  width: 37%;
}
.footer .row .column .desc {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 26px;
  color: #000;
  transition: color 0.3s ease;
}
.footer .row .column .title {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 28px;
  color: #fff;
}
.footer .row .column .fa-brands {
  color: #fff;
  padding: 10px;
  transition: color 0.3s ease, transform 0.3s ease;
}
.footer .row .column .fa-brands:hover {
  transform: scale(1.1);
}
.footer .row .column .line {
  border: 1px solid #000;
  width: 130px;
  height: 1px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.footer h1 {
  font-family: sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 28px;
  color: #fff;
  margin-bottom: 20px;
}
.footer .line {
  border: 1px solid #000;
  width: 100%;
  height: 1px;
  margin: 30px 0;
}
.footer .contact {
  margin-top: 10px;
}
.footer .contact a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}
.footer .desc-foot {
  text-align: center;
  color: #000;
  margin-top: 10px;
}
.footer .desc-h1 {
  padding-right: 20px;
}

/*# sourceMappingURL=style.css.map */
